<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ofertas de serviços</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
