{% extends 'loja/layout.html' %}
{% load bootstrap %}

{% block content %}
<h1 class="page-header">Serviço</h1>
<form method="post">
    {% csrf_token %}
    {{form|bootstrap}}
    <button class="btn btn-primary pull-right">Salvar</button>
</form>
{% endblock %}
