{% extends 'loja/layout.html' %}

{% block content %}
<h1 class="page-header">Ofertas de serviços</h1>
<div style="padding-bottom: 20px;">
  <a class="btn btn-primary" href="{% url 'create_produto' %}">Adicionar novo</a>

</div>

<table class="table">
  <th>#</th>
  <th>Nome</th>
  <th>Editar</th>
  <th>Deletar</th>
  {% for produto in produto_list %}
    <tr>
      <td>{{produto.pk}}</td>
      <td>{{produto.name}}</td>
      <td><a class="btn btn-default"href="{% url 'edit_produto' produto.pk%}">Editar</a></td>
      <td>
        <form method="POST" action="{% url 'delete_produto' produto.pk %}">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="delete"></input>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
